<div style="text-align:left;background-color: #ffffff;display:  grid;grid-template-columns: 50% 50%;" >
    <a href="/"><img  style="margin-left:4%;margin-top:2%" src="images/CludRestHomeLogo.svg" /></a>
    <div class="header-btn-grp">
        <button class="headerButton" id="schoolName" onclick="location.href='/buy'">BUY </button>
        <button class="headerButton" id="schoolName" onclick="location.href='/invest'">Invest </button>
        <button class="headerButton" id="schoolName" href="#!">Host </button>
        <button class="headerButton" id="schoolName" onclick="location.href='/about-us'">About Us </button>
        <button class="headerButton" id="schoolName" onclick="location.href='/contact-us'">Contact </button>
    </div>
</div>